
<div id="header">
    <video src="assets/images/video.mp4" autoplay="" muted="" loop=""></video>
    <div class="container">
    <div id="content">
    <div>
      <span>  
        <!-- <video src="assets/images/video.mp4" autoplay="" muted="" loop=""></video> -->
      
      </span>
      <span>  
        <!-- <video src="assets/images/video.mp4" autoplay="" muted="" loop=""></video> -->
      </span>
      <span>  
        <!-- <video src="assets/images/video.mp4" autoplay="" muted="" loop=""></video> -->
      </span>
    </div>
</div></div>
</div>
<!-- end header -->
<app-navbar></app-navbar>

<div class="cards" id="offers">
  <div class="container">
    <div class="row">
    <div class="col-md-4" *ngFor="let item of cards">
      <div class="card-content">
        <div class="image">
              <img [src]="item.photo" class="w-100 h-100">
        </div>
        <div class="contant">
          <h5>{{item.title}}</h5>
          <p>{{item.description}}</p>
        </div>
    </div>
  </div>
  </div>
  </div>
</div>
<!-- end cards -->
<div class="box" >
  <div class="container">
    <div class="row">
    <div class="col-md-4">
      <div class="box-area">
        <div class="box1"></div>
        <div class="box2"></div>
        <div class="box3"></div>
        <div class="box4"></div>
        <div class="box5"></div>
        <div class="box6"></div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="content">
           <h5>Brand</h5>
           <p>Mohammed Bin Rashid Al Maktoum Global Initiatives was inaugurated on 4 October 2015.Mohammed Bin Rashid Al Maktoum Global Initiatives was inaugurated on 4 October 2015.
            As a young Foundation, we are inspired by our </p>
      </div>
  </div></div>
</div></div>



<!-- end paragraph around circle -->
<div class="portofile" id="blog">
<div class="container">
<div class="row">
  <div class="col-md-12 mt-5">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <div class="carouselContent">
          <img src="assets/images/22.jpg" class="w-100 h-100">
        </div>
      </ng-template>  
      <ng-template carouselSlide>
        <div class="carouselContent">
          <img src="assets/images/27.jpg" class="w-100 h-100">
        </div>
      </ng-template>  
      <ng-template carouselSlide>
        <div class="carouselContent">
          <img src="assets/images/25.jpg" class="w-100 h-100">
        </div>
      </ng-template>  
      <ng-template carouselSlide>
        <div class="carouselContent">
          <img src="assets/images/26.jpg" class="w-100 h-100">
        </div>
      </ng-template> 
      <ng-template carouselSlide>
        <div class="carouselContent">
          <img src="assets/images/24.jpg" class="w-100 h-100">
        </div>
      </ng-template>  
    </owl-carousel-o>
  </div>
  <div class="col-md-5 mt-5">
    <p class="lead">User Experiances</p>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
    </div>
    <p class="lead">programming</p>

    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 68%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">68%</div>
    </div>
    <p class="lead">web design</p>

    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 45%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">45%</div>
    </div>
    <p class="lead">fun</p>

    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 23%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">23%</div>
    </div>
    
  </div>
  <div class="col-md-5 mt-5">
      <div class="content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <button>read more</button>
      </div>
  </div>

</div>
</div>

</div>
<!-- end slider -->

<div class="circle mt-5 mb-5" id="service">
  <div class="container">
     <div class="circle-img1">
       <img src="assets/images/10.jpg" class="w-100 h-100">
     </div>
     <div class="circle-img2">
      <img src="assets/images/9.webp" class="w-100 h-100">
    </div>
     <div class="paragraph">
      <h4>Our Message is a global philanthropic</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Mohammed Bin Rashid Al Maktoum Global Initiatives was inaugurated on 4 October 2015.      VisionAl Jalila Foundation is a global philanthropic organisation achievements have surpassed.
        As a young Foundation, we are inspired by our young nation whose
        VisionAl Jalila Foundation is a global philanthropic organisation achievements have surpassed.
        As a young Foundation, we are inspired by our young nation whose achievements have surpassed      VisionAl Jalila Foundation is a global philanthropic organisation achievements have surpassed.
        VisionAl Jalila Foundation is a global philanthropic organisation achievements have surpassed.
        As a young Foundation, we are inspired by our young nation whose
        Mohammed Bin Rashid Al Maktoum Global Initiatives was inaugurated on 4 October 2015.      As a young Foundation, we are inspired by our young nation whose achievements have surpassed      VisionAl Jalila Foundation is a global philanthropic organisation achievements have surpassed.
        VisionAl Jalila As a young Foundation, we are inspired by our young nation whose      
          </p>
    
    </div>
  
  
  </div>
  </div>