@import "../scss/variables";
#header{
    position: relative;
    height: 910px;
    video{
        top: 0;
        left: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    #content{
     position: absolute;
     top: 20%;
     left: 40%;
     width: 300px;
     height: 300px;
     transform-style: preserve-3d;
     div{
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         transform-style: preserve-3d;
         transform:rotateX(-17deg) rotateY(27deg);
         //translate3d(80px, -50px, 430px);
        span{
            position: absolute;
            top:0;
            left:0;
            display:block;
            width:100%;
            height: 100%;
            border:1px solid rgba(0,0,0,.1);
            background: #ccc;
            &:nth-child(1){
                transform: rotateX(0deg) translate3d(0,0,149px);
            }
            &:nth-child(2){
                transform: rotateY(90deg) translate3d(0,0,-151px);
                video{
                    transform: rotateY(180deg);
                }
            }
            &:nth-child(3){
                transform: rotateX(90deg) translate3d(0,0,149px);
            }
            video{
                position: absolute;
                top: 0;
                left: 0;
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
            
        }
     }
    }
}
// end header
@mixin boxsh($x,$y,$z,$i,$color){
    box-shadow: $x $y $z $i $color;
    -webkit-box-shadow: $x $y $z $i $color;
    -moz-box-shadow: $x $y $z $i $color;
   -o-box-shadow: $x $y $z $i $color;
}
.cards{
    margin:5% 0;
    .card-content{
        text-align:center;
        background-color: white;
        padding: 15px 15px 30px 30px;
        // height:140px;
        position:relative;
        // overflow:hidden;
        @include boxsh(0,10px,20px,0px,rgba(0,0,0,0.1));
        transition:all .5s ease-in;

        // &:hover{
        //     height:600px;
        // }
    .image{
        position:relative;
        margin-left: 10%;        
        margin-top: -13%;
        width: 80%;
        height:150px;
        transition:all .5s ease-in;
        @include boxsh(0,5px,20px,0px,rgba(0,0,0,0.2));        
    }
    .contant{
        position:relative;
        margin:5% 0;
        color: gray;
        // display:none  
        h5{
            color:$mainColor;
        }
    }  
}
}
.image:hover .content{
    display: block;
}
// end card
.circle{
    position: relative;
    width:100%;
    img{border-radius:50%;}
    .circle-img1, .circle-img2{
         position:relative;
         overflow:hidden;
    }
    // .circle-img1,.paragraph, .circle-img2{
    //     float:left;
    // }
    .circle-img1{
          width:300px;
          height:300px;
          float:left;
          margin:20px;
          shape-outside: circle();
    }
    .circle-img2{
        width: 170px;
        float:right;
        height:170px;
        margin:5px;
        shape-outside: circle();

  }
  .paragraph{
      color:gray;
   h4{
    color:$mainColor;
   }
}
}
.clearFix{clear:both}

//end paragraph around circle
.portofile{
    background:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,0.5)),url(src/assets/images/14.jpg) fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10%;

    p{
        color: white;
        /* margin: 9% 0; */
        margin-top: 8%;
        font-size: 14px;

    }
    .progress {
        height: 22px !important;
    .progress-bar {
      background-color: $mainColor !important;


    }}
.carouselContent{height:170px;margin:0 4%}
.content{
    margin: 25% 9%;
}
button{
    background-color: $mainColor;
    color: white;
    outline: none;
    cursor: pointer;
    border: none;
    padding: 9px;
    border-radius: 5px;
    margin: 0 22%;
    width: 50%;
}
}
.box{
    margin: 3% 0;
    width: 100%;
    .box-area{
      animation: animate 10s ease-in-out infinite;
      transform-style: preserve-3d;
      transform-origin: 100px 100px 0;
      div{
          position: absolute;
          width: 200px;
          height: 200px;
          line-height: 200px;
      }
      .box1{
        background-image:url(src/assets/images/16.webp);

        background-size: cover;
        background-position: center center;
        transform: translateZ(100px);
      }
      .box2{
          background-image: url(src/assets/images/15.webp);
        background-size: cover;
        background-position: center center;
        transform: rotateY(90deg) translateZ(100px);
    }
    .box3{
        background-image: url(src/assets/images/12.jpg);
        background-size: cover;
        background-position: center center;
        transform: translateZ(100px);
        transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
    }
    .box4{
        background-image: url(src/assets/images/14.jpg);
        background-size: cover;
        background-position: center center;
        transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
    }
    .box5{
        background-image: url(src/assets/images/15.webp);
        background-size: cover;
        background-position: center center;
        transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
    }
    .box6{
        background-image: url(src/assets/images/13.webp);
        background-size: cover;
        background-position: center center;
        transform: rotateX(-90deg) translateZ(100px);
        position: relative;
    }
    }
    .content{
        color:gray;
        h5{color:$mainColor;}
    }
}
@keyframes animate{
    from,to{
    transform:rotateX(0deg) rotateY(0deg);
}
16%{
    transform: rotateY(-90deg);
}
33%{
    transform: rotateY(-90deg) rotateZ(90deg);

}
50%{
    transform: rotateY(-180deg) rotateZ(90deg);

}
66%{
    transform: rotateY(-270deg) rotateX(90deg);

}
83%{
    transform: rotateX(90deg);

}



}