<div class="footer">
<div class="container">
    <div class="row">
    <div class="col-md-12">
        <div class="logo">
            <p>copy right by mai mohamed</p>
        <!-- <img src="assets/images/8.png" class="w-100 h-100"> -->
        </div>
    </div>
    <div class="col-md-12">
        <div class="icon">
        <ul>
            <li><a><i class="fa fa-facebook" aria-hidden="true"></i>
            </a></li>
            <li><a><i class="fa fa-google" aria-hidden="true"></i>
            </a></li>
             <li><a><i class="fa fa-yahoo" aria-hidden="true"></i>

            </a></li>
             <li><a><i class="fa fa-instagram" aria-hidden="true"></i>

            </a></li>
            <div class="clearfix"></div>
        </ul>
    </div>
    </div>
</div>
</div>
</div>