@import "../../scss/variables";

.footer{
    background-color:$mainColor;
    .logo{
        // width: 100px;height:50px;
        margin: 10px 39%;
        color: white; 

    }
    .icon{
        margin-left: 38%;

    ul li{
    list-style-type:none;
    float:left;  
    margin: 0 10px; 
    color: white; 
    }
}
}
.clearfix{
   clear:both;
}