<app-navbar></app-navbar>

<div class="signUp">
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card-container">
                <div class="cover">
                  <figure class="front"></figure>
                  <figure class="back"></figure>
                </div>
              </div>

        </div>
        <div class="col-md-6">
            <div class="signupContainer">
                <h5 class="ml-5">Sign up</h5>
            <div class="login-form col-md-12 col-sm-12 col-xs-12">
                <input type="text" name="email" placeholder="Name" class="p-2 w-100">

                <input type="text" name="email" placeholder=" Email" class=" p-2 w-100">
                <input type="password" name="pass" placeholder=" Password" class=" p-2 w-100">
                <input type="password" name="pass" placeholder=" Confirm Password" class=" p-2 w-100">

                <button (click)="testLogin()" class="border-0  text-light w-100  p-2 mt-3">Sign Up</button>
                <p class="text-muted mt-3">already have account?<a routerLink="/login">Login</a></p>
              </div>

        </div></div>



    </div>
</div>

</div>