@import "../scss/variables";

.card-container{
    margin-left:30%;
    // margin-bottom: 80%;
    width: 268px;
    height: 382px;
    background-image: url(src/assets/images/47.jpg);
    background-size:cover;
    background-position:center;
    perspective: 1000px;
    position:relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .cover{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #345b8c;
    /*left: 40px;*/
    transform: rotatey(-20deg);
    transform-style: preserve-3d;
    transform-origin: left;
    transition: all .7s ease-in-out ;
  }
  
  .card-container:hover .cover{
    transform:rotateY(-180deg);
  }
  figure{
    //  margin: 0;
     display: block;
     position: absolute;
     width: 100%;
     height: 100%;
     backface-visibility: hidden;
  }
  figure.front {
     background-image: url(src/assets/images/45.jpg);
     background-size:cover;

  }
  figure.back{
     background-image: url(src/assets/images/46.jpg);
     background-size:cover;
     background-position:center;

     transform: rotatey(180deg);
  }
  

.signupContainer{
    background-color: white;
    margin: 15% 18%;
    padding: 77px 55px;

    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    .content{color:gray}
}
button{background-color:$mainColor;outline:none;border-radius: 2px;}
h5{color:$mainColor}
input{outline: none;margin:3% 0;border:none;border-bottom:1px solid rgb(226, 223, 223) ;}
.login-form h5{margin-left: 22% !important;}