@import "../scss/variables";

.login{
    background-color: white;
    margin: 21% 0;
    padding: 77px 55px;

    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    .content{color:gray}
}
button{background-color:$mainColor;outline:none}
h5{color:$mainColor}
.logo2 p{font-size: 15px;}
input{outline: none;margin:3% 0}
.login-form h5{margin-left: 22% !important;}
.slider{    
     margin: 35% 19%;
.card{
    position: relative;
    width: 300px;
    height: 201px;
        background-color: white;
    margin: 30px 10px;
    padding: 20px 15px;
    box-shadow: 0 5px 16px rgba(0, 0, 0, .5);
    transition: .3s ease-in-out;
     .content{
        position: relative;
        margin-top: -140px;
        padding: 10px 15px;
        text-align: center;
        color:gray;
        visibility: hidden;
        opacity: 0;
        transition: 0.3s ease-in-out;
        h5{
            color:$mainColor;
        }
    }
}
.card:hover{
height: 420px;
}
.card:hover .content{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}
.imgBx{
    position: relative;
    width: 260px;
    height: 171px;
    top: -60px;
    left: 3px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .2);
}
.imgBx img{
max-width: 100%;
border-radius: 4px;
}
}
@media (max-width: 767px ){/* mobile & tablet*/
.login-img{display: none;}
.login{width: 100%;}


}
@media (min-width: 768px) and (max-width:991px){ /* small screen */



}
@media (min-width: 992px) and (max-width:1199px) { /* medium screen */


}