<app-navbar></app-navbar>
<div class="lighter" id="lighter">
    <div class="lighter-item">
        <div class="container">
        <div class="row">
            
            <div class="col-md-5">
                <div class="login">
                <div class="container">
                    <div class="row">
                            <div class="col-md-8">
                                <h5>YOUTH</h5>
                                <p class="content">Entirtenment</p>
                            </div>
                            <div class="login-form col-md-12 col-sm-12 col-xs-12">
                                <input type="text" name="email" placeholder="Enter Your Email" class="border border-ligh rounded-pill p-2 w-100">
                                <input type="password" name="pass" placeholder="Enter Your Password" class="border border-ligh rounded-pill p-2 w-100">
                                <button (click)="testLogin()" class="border-0  text-light w-100 rounded-pill p-2 mt-3">Login</button>
                                <p class="text-muted mt-3">already have account?<a routerLink="/login"> Sign Up</a></p>
                              </div>
                              </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="slider">
                      <div class="card">
                        <div class="imgBx">
                          <img src="assets/images/42.webp">
                        </div>
                        <div class="content">
                          <h5>Info About Site</h5>
                          <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                          </p>
                        </div>

                      </div>
                    <!-- <owl-carousel-o [options]="customOptions">
                        <ng-template carouselSlide>
                          <div class="carouselContent">
                            <img src="assets/images/41.jpg" class="w-100 h-100">
                          </div>
                        </ng-template>  
                        <ng-template carouselSlide>
                          <div class="carouselContent">
                            <img src="assets/images/42.webp" class="w-100 h-100">
                          </div>
                        </ng-template>  
                        <ng-template carouselSlide>
                          <div class="carouselContent">
                            <img src="assets/images/43.webp" class="w-100 h-100">
                          </div>
                        </ng-template>  
                          
                      </owl-carousel-o> -->

                </div>
                </div>
            </div>
          </div>
        </div></div>






