@import "../../scss/variables";

.navbar{
    background-color: $mainColor;
    ul{margin: 4% 0px;}
    h6{
        color: white;
        font-size: 27px;
        margin: 0px 36%;
        line-height: 48px;
    }
    .logo{
        height: 50px;
    }
    .icon{
        margin: 0 16%;
            ul li{
        list-style-type: none;
        float: left;
        margin:0 3%;
        a{
            text-decoration: none;
            color:white;
        }
        
    }}
  
}
.clearFix{clear: both;}
.act{
    background-color:white;
    color:$mainColor !important;
    padding:14px;
    border-radius:1px;
}