<div class="navbar sticky-top">
    <div class="container">
        <!-- <div class="row"> -->
            <div class="col-md-1">
                <div class="logo">
                    <h6>YOUTH</h6>
                 <!-- <img src="assets/images/logo.png" class="w-100 h-100"> -->
                </div>
            </div>
            <div class="col-md-11">
                <div class="icon">
                <ul>
                    <li><a routerLink="/home" routerLinkActive='act'>Home</a></li>
                    <li><a routerLink="/login" routerLinkActive='act'>Login</a></li>
                    <li><a routerLink="/register" routerLinkActive='act'>Register</a></li>
                    <li><a href="#service" routerLinkActive='act'>Services</a></li>
                    <li><a href="#blog" routerLinkActive='act'>Blog</a></li>
                    <li><a href="#offers" routerLinkActive='act'>Offers</a></li>

                    <div class="clearFix"></div>
                </ul>  
            </div>
        </div></div>
    <!-- </div> -->
</div>